@font-face {
    font-family:'Archer-BookItalic';
    src: url('Archer-BookItalic.eot');
	src: url('Archer-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('Archer-BookItalic.woff2') format('woff2'),
		url('Archer-BookItalic.woff') format('woff'),
		url('Archer-BookItalic.ttf') format('truetype'),
		url('Archer-BookItalic.otf') format('opentype'),
		url('Archer-BookItalic.svg#Archer-BookItalic') format('svg');
    font-weight: 325;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}